
<div *ngIf=error>
<h2>error</h2>
</div>




<form #f="ngForm"
        (ngSubmit)="signup(f.value)"
        class="ui form">

    <div class="field">

      <input type="text" placeholder="name"  name="personName" ngModel><br/>

       <input type="text" placeholder="type"  name="personType" ngModel><br/>

       <input type="text" placeholder="username"  name="username" ngModel><br/>

       <input type="password" placeholder="password"  name="password" ngModel><br/>
       <input type="email" placeholder="email"  name="email" ngModel><br/>


    </div>

    <button  type="submit" class="ui button">Sign up</button>
  </form>
