<div *ngIf=error>
<h2>error</h2>
</div>



<form #f="ngForm"
        (ngSubmit)="addBook(f.value)"
        class="ui form">

    <div class="field">

      <input type="text" placeholder="name"  name="bookName" ngModel><br/>

      <input type="text" placeholder="author"  name="author" ngModel><br/>

      <input type="text" placeholder="printer"  name="printer" ngModel><br/>

      <input type="text" placeholder="publicationPlace"  name="publicationPlace" ngModel><br/>

      <input type="date" placeholder="publicationDate"  name="publicationDate" ngModel><br/>

      <input type="number" placeholder="pagesNumber"  name="pagesNumber" ngModel><br/>

      <input type="text" placeholder="dimension"  name="dimension" ngModel><br/>

      <input type="text" placeholder="theme"  name="theme" ngModel><br/>

      <input type="text" placeholder="languages"  name="languages" ngModel><br/>

      <input type="text" placeholder="description"  name="description" ngModel><br/>

      <input type="text" placeholder="isbn"  name="isbn" ngModel><br/>

      <input type="text" placeholder="placeInTheLibrary"  name="placeInTheLibrary" ngModel><br/>

       <input type="text" placeholder="category"  name="bookCategory" ngModel><br/>

       <input type="number" placeholder="count"  name="bookCount" ngModel><br/>


    </div>

    <button  type="submit" class="ui button">Add book</button>
  </form>
