<div *ngIf=error>
<h2>error</h2>
</div>




<form #f="ngForm"
        (ngSubmit)="addBook(f.value)"
        class="ui form">

    <div class="field">

      <input type="text" placeholder="name"  name="bookName" ngModel><br/>

       <input type="text" placeholder="isbn"  name="bookIsbn" ngModel><br/>

       <input type="text" placeholder="category"  name="bookCategory" ngModel><br/>

       <input type="number" placeholder="count"  name="bookCount" ngModel><br/>


    </div>

    <button  type="submit" class="ui button">Log in</button>
  </form>
