<form #f="ngForm"
        (ngSubmit)="searchBook(f.value)"
        class="ui form">

    <div class="field">

      <input type="text" placeholder="search text"  name="searchBook" ngModel><br/>


    </div>

    <button  type="submit" class="ui button">Search</button>
  </form>



<div *ngFor="let book of booksByName">
  <h4>isbn {{book.isbn}}</h4>
  <p>name {{book.name}}</p>
  <a href="/searchperson/{{book.isbn}}">Borrow</a>
  <a href="/book/{{book.isbn}}">Details</a>
  </div>

<p>------------------------------- List by isbn--------</p>


  <div *ngFor="let book of booksByISBN">
    <h4>isbn {{book.isbn}}</h4>
    <p>name {{book.name}}</p>
    <a href="/searchperson/{{book.isbn}}">Borrow</a>
    <a href="/book/{{book.isbn}}">Details</a>

    </div>


    <p>------------------------------- List by keywords--------</p>


      <div *ngFor="let book of booksByKeyWords.rows">
        <h4>isbn {{book.isbn}}</h4>
        <p>name {{book.name}}</p>
        <a href="/searchperson/{{book.isbn}}">Borrow</a>
        <a href="/book/{{book.isbn}}">Details</a>
        </div>



        <div *ngIf="pageNumber > 1" >
          <button (click)="findBookByKeyWordsBack()">Back </button>
        </div>

        <div *ngIf="pageNumber*2 < booksByKeyWords.count" >
          <button (click)="findBookByKeyWordsNext()">Next </button>
        </div>
